{% extends 'base.html' %}
{% load static %}


    {% block header %}
    <script src="{% static 'js/jssubscribe.js' %}"></script>

    <title>WebService Simulation</title>
    {% endblock %}
    {% block content %}
    <div class="container-fluid">
    	<div class="row">
			<div class="col-xs-12 col-md-4 rounded" style="margin-left:8%;margin-right: 8%; margin-top:10%; padding-bottom: 10px;background-color: white;opacity:0.7;">
		        <h1 style="text-align:center; color: #0066CC ;">Fill the form below to subscribe</h1>
		        {% csrf_token %}
		        {{ subscribe_form }}
		        <div id="emailStatus"></div>
		        <div id="passwordStatus"></div><br>
		        <button class="button rounded border" name="submit" id='subs-button' style="background: gray; color:white ; cursor: not-allowed; margin-left:80%" disabled>Submit</button>    
			</div>
			<table class="col-xs-12 col-md-4 rounded" style="margin-left:8%;margin-right: 8%; margin-top:10%; padding-bottom: 10px;background-color: white;opacity:0.7;">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Unsubscribe</th>
					</tr>
				</thead>
				<tbody id="sub_table">					
				</tbody>
			</table>
		</div>
	</div>
    {% endblock %}